<header>
    <img src="assets/imgs/profile.jpg" alt="Vitor Mancini - Foto de perfil" width="130px" height="130px" loading="eager" />
    <h1>Vítor Mancini Rodrigues</h1>
</header>

<aside>
    <div class="container">
        <p>Software Developer C# | Python | Javascript | Angular</p>
        <p>Louveira, São Paulo - Brazil</p>
        <p>Computer Science student, graduated in industry automation and computer technician, with emphasis on systems development.</p>
    </div>

    <nav>
        <ul>
            <li>
                <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">Download CV</a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/v%C3%ADtor-mancini-rodrigues-29225620a/" target="_blank" class="btn btn-secondary">LinkedIn</a>
            </li>
        </ul>
    </nav>

    <section>
        <figure>
            <img src="assets/icons/bxl-whatsapp.svg" alt="Ícone para contato do WhatsApp" width="22px" height="24px" />
            <figcaption>
                <a href="https://api.whatsapp.com/send?phone=5519997444684" target="_blank">
                    <strong>Envie uma mensagem para:</strong>
                    <p>WhatsApp: (19)9 9744-4684</p>
                </a>
            </figcaption>
        </figure>
        <figure>
            <img src="assets/icons/bx-envelope.svg" alt="Ícone para contato via e-mail" width="22px" height="24px" />
            <figcaption>
                <a href="mailto:vitor.mancini21@hotmail.com" target="_blank">
                    <strong>Envie um e-mail para:</strong>
                    <p>E-mail: vitor.mancini21&#64;hotmail.com</p>
                </a>
            </figcaption>
        </figure>
    </section>
</aside>