:root {
    --primary: #74b9ff;
    --primary-010: #0984e3;

    --secondary: #00b894;
    --secondary-010: #55efc4;

    --white: #fff;
    
    --black: #10101a;
    --black-010: #2d3436;

    --grey: #636e72;
}